body {
    background-color: $primary;
    border: 5px solid $secondary;
}

img {
    width: 100%;
    // height: 100%;
    // margin: 0 !important;
    display: block;
    // margin: auto;
}

figure {
    margin: 2em 0 1em;
}

.small-img {
    max-width: 100px;
    margin: auto!important;
    padding: 1em 1em 0;
}

.med-img {
    max-width: 200px;
    padding: 1em;
    margin: 0 auto!important;
}

.resource-img {
    max-width: 120px;
    margin: 0 auto !important;
    padding: 1em;
}

.external-img {
    width: 8px;
    margin-bottom: auto;
    padding: 0 0 0.2em 0.1em;
    display: inline;
    margin: 0;
}

video {
    width: 100%;
    margin: 24px 0 !important;
    display: block;
    background: $light;
}

hr {
    border: none;
    background-color: $light;
    height: 3px;
    width: 20%;
    margin: 80px 80% 0 0;
    float: left;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  @media (max-width:800px){
    grid-template-columns: repeat(1, 1fr);
  }
  div.card {
    background-color: $light;
    margin: $baseline 0;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    border-radius: 1em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    &:hover{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
    p{
      padding: 0 $baseline;
    }
    img{
      border-radius: 0!important;
    }
    h3 {
        margin-bottom: 12px;
        padding: 0;
    }
    a {
        background-color: $primary!important;
        p{
          color: $dark;
        }
    }
}
}

// attempt for loading screen 
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: $secondary;
    z-index: 99999;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: $secondary;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: $secondary;
}

#loader {
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    // background: url(/src/images/DH-bg.jpg) repeat;
    background-color: $dark;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}

.clients {
    // background-color: $secondary!important;
    section {
        .col-1-1 {
            max-width: 1000px;
            margin: auto;
        }
        ul {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
            margin: 2em 0 8em;
            li {
                padding-left: 0;
                font-size: 15px;
                // margin: 0.5em 0;
                text-indent: 0;
                text-transform: uppercase;
                margin: $baseline*.75 0;
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
    .logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        @media (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
        }
        img {
            transition: transform .2s;
            &:hover {
                transition: transform .2s;
                transform: scale(1.5);
            }
        }
    }
}

section {
    padding: ($baseline*2) $baseline;
    .content-img {
        margin: ($baseline*2) auto ($baseline*4);
    }
    &:first-of-type {
        padding-top: ($baseline*4)+40;
    }
    &.illustration {
        background-color: $primary;
        background: linear-gradient($primary 88.6%, $light 1%);
        background-size: 100% 100%;
        padding: $baseline*4 0 0 0;
        img {
            margin: 0 !important;
        }
    }
    &.feature {
        background: $secondary url("images/bottom-leaves.png") bottom center no-repeat;
        background-size: 800px;
        padding-bottom: $baseline;
    }
    &.prefooter {
        padding: 40px $baseline !important;
        background-color: $primary;
        color: $light;
        text-align: center;
        a {
            color: $light;
            &:hover {
                color: darken($light, 10%);
            }
        }
        img {
            width: 30%;
            margin: 0 35% $baseline 35% !important;
        }
    }
    &.copyright {
        padding: $baseline*0.5;
    }
    &.intro {
        // background: url("images/generic-banner.png") center $baseline*4 no-repeat;
        background-size: 100%;
        nav {
            text-align: center;
            padding: $baseline 0;
            a {
                font-size: 24px;
                line-height: 36px;
                color: $primary;
                text-decoration: none;
                padding: 0 $baseline*0.75;
                white-space: nowrap;
                &:hover {
                    color: darken($primary, 20%);
                }
            }
        }
        .card {
            background-color: $medium;
            img.thumb {
                padding: 0 $baseline;
                box-sizing: border-box;
                @media screen and (max-width: $mobile) {
                    max-width: 40%;
                    margin: 0 auto $baseline auto !important;
                }
            }
        }
    }
    @media screen and (max-width: $mobile) {
        // &.intro {
        //     background: url("images/leaves-mobile.png") center $baseline*3 no-repeat;;
        //     background-size: auto;
        // }
        // &:first-of-type {
        //     padding-top: $baseline*11;
        // }
        .card {
            text-align: center;
        }
    }
    @media (min-width: $mobile) {
        .resource {
            display: flex;
        }
        .double-btn {
            width: 50%!important;
            max-width: 180px!important;
        }
    }
}

button {
    background: #ceff02;
    border: 0;
    padding: 0.5em 2em;
    font-family: inherit;
    border-radius: 3em;
    margin: .5em 0;
    display: block;
}

.accordion {
    border-bottom: 1px solid $neutral;
    dt {
        position: relative;
        cursor: pointer;
        margin: 0;
        padding: $baseline/2 $baseline/2;
        h3 {
            color: $primary;
            margin: 0 0 $baseline/4;
        }
        p {
            margin: 0;
            color: $neutral-dark;
        }
        &:after {
            content: '+';
            width: 20px;
            height: 25px;
            position: absolute;
            top: $baseline/2;
            right: $baseline/2;
            color: $primary;
            font-size: 32px;
            font-weight: bold;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
    }
    &:not(.open) dt:hover {
        background-color: $neutral-light;
    }
    &.open dt {
        &:after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    dd {
        margin: 0 $baseline/2;
        display: none;
    }
    &:first-child {
        border-top: 1px solid $neutral;
    }
}

a.secondary-btn {
    margin: 1em auto!important;
    box-sizing: border-box;
    max-width: 200px;
    span {
        background-color: $secondary;
        color: $primary;
        box-shadow: inset 0 3px $primary;
    }
}

.double-btn {
    display: inline-block!important;
    margin: 0 !important;
    max-width: none;
    width: 100%;
}

.anchor {
    position: relative;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -48px;
}

// .about {
//     h2 {
//         text-align: center;
//     }
// }

@media screen and (min-width: 896px) {
    .anchor a {
        position: absolute;
        left: 0px;
        top: -66px;
    }
}

.contribute {
    font-size: 1.2em;
    display: inline-block;
    margin: .5em 0 .2em;
    // text-transform: uppercase;
    // font-size: 12px;
    // letter-spacing: 1px;
}

ul.contribute {
    display: inline-block;
    li {
        font-size: 1em;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.2em .5em;
        display: inline-block;
        margin: 0.2em .5em 0.2em 0;
    }
}

.mockup ::-webkit-scrollbar {
    display: none;
}

body {
    font-size: 16px;
}

section.intro {
    min-height: 70vh;
}

section.browser-mockup-section {
    position: relative;
    padding: 2em;
    overflow: hidden;
    h4 {
        text-align: center;
        margin: 2em 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 150%;
        height: 58%;
        top: -20%;
        left: -25%;
        // transform: rotate(-7deg);
    }
    .mockup {
        border: solid 10px #e8e8e8;
        border: solid 10px rgba(255, 255, 255, .5);
        border-top-width: 45px;
        border-radius: 6px;
        box-shadow: 3px 12px 30px -8px rgba(0, 0, 0, 0.2);
        transform: rotateX(-15deg) rotateY(0deg) rotateZ(0deg);
        transition: all ease 0.4s;
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
    .mockup .scroll-container {
        overflow-y: scroll;
        height: 75vh;
        max-height: 700px;
    }
    .mockup-container {
        margin-bottom: 10em;
    }
    .mockup ::-webkit-scrollbar {
        width: 0;
    }
    .mockup img {
        width: 100%;
        height: auto;
    }
    .browser-control {
        position: absolute;
        height: 10px;
        width: 10px;
        top: -27px;
        left: 30px;
        background: #000;
        background: #FEC031;
        border-radius: 50%;
        opacity: 0.12;
        opacity: 1;
    }
    .browser-control::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: -20px;
        background: #000;
        background: #FF6054;
        border-radius: 50%;
    }
    .browser-control::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        right: -20px;
        background: #000;
        background: #00CE4A;
        border-radius: 50%;
    }
    .mockup:hover {
        transform: rotateX(-10deg) rotateY(0deg) rotateZ(0);
    }
}

// SCROLLING ICON ANIMATION 
.portfolio-page #scroll-text {
    top: 0;
}

.home #scroll-text {
    top: 95vh;
}

#scroll-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7777;
    color: $light;
    padding: 10px 15px;
    background: $primary;
    border-radius: 4em;
    padding-right: 3em;
    top: -45px;
}

.scroll-icon {
    position: absolute;
    width: 30px;
    fill: $light;
    border-radius: 100%;
    margin: -4px 1em 0 .5em;
}

.scroll-animation {
    animation: scrollIcon ease 2s infinite;
}

@keyframes scrollIcon {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    49% {
        transform: translateY(-10px);
        opacity: 0;
    }
    51% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-animation {
    animation: scrollIcon linear 1.7s infinite;
}

@keyframes scrollIcon {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    50% {
        transform: translateY(7.5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.video {
    text-align: center;
}

.clients {
    ul li {
        list-style: none;
    }
}

body.clients,
body.about,
body.contact {
    min-height: 100vh;
    background-image: url(src/images/global/neon-rip.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}

section#biography {
    margin-bottom: 10em;
}

// coming soon animation
.soon {
    background-image: url(src/images/global/comingsoon.jpg);
    img {
        transition: all 0.5s ease;
        &:hover {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }
}

// All lisa styling 
$lisa:#2764ac;
$lisa-sub: #ebe8d7;
body.lisa-squirrel {
    color: #333;
    background-color: $lisa-sub;
    background-image: url(src/images/lisa-squirrel/lisa-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid $lisa;
    .button {
        background: $lisa;
        border: 0;
        padding: 0.5em 2em;
        font-family: inherit;
        border-radius: 3em;
        margin: .5em 0;
        display: block;
        color: $lisa-sub;
        font-size: 1em;
        display: inline-block;
    }
    @media (max-width: 800px) {
        background-size: 200%;
        background-position: top right;
    }
    h2,
    h4 {
        color: $lisa;
    }
    h3 {
        -webkit-text-stroke: 1px $lisa;
    }
    ul {
         ::marker {
            color: #2764ac;
        }
    }
    section a {
        -webkit-text-fill-color: unset;
        color: $lisa!important
    }
    ul.contribute {
        li {
            background-color: $lisa;
            color: $lisa-sub;
        }
    }
    .alt-section-start {
        background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg.jpg) $lisa no-repeat top center !important;
        background-size: contain!important;
    }
    .alt-section-end {
        background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg-end.jpg) $lisa-sub no-repeat top center !important;
        background-size: contain!important;
    }
    section.browser-mockup-section .mockup {
      border: solid 10px rgba(255, 255, 255, .5);
        border-top-width: 45px;
    }
    #scroll-text {
        background: $lisa;
    }
    // Section where it changes colour to break it up a bit
    .lisa-alt-section {
        background: $lisa;
        p,
        ul li,
        h4,
        ul ::marker,
        figcaption {
            color: $lisa-sub;
        }
        h3 {
            -webkit-text-stroke: 1px $lisa-sub;
        }
        a {
            color: #f7a235 !important;
        }
        .button {
            background: #da8a70;
            color: $lisa-sub!important;
        }
    }
}

$recordstore: #31993d;
$recordstore-sub: #efefef;
body.recordstore {
    background-color: $recordstore;
    color: $recordstore-sub;
    background: url(src/images/recordstore/rs-wallpaper.jpg) $recordstore no-repeat top right;
    background-size: contain;
    .alt-section-start {
        background: url(src/images/recordstore/recordstore-bg-2.jpg) $recordstore-sub no-repeat top center !important;
        background-size: contain!important;
    }
    .alt-section-end {
        background: url(src/images/recordstore/recordstore-bg-1.jpg) $recordstore no-repeat top center !important;
        background-size: contain!important;
    }
    .alt-section img {
        border-radius: 1em;
    }
    h2 {
        color: $recordstore-sub;
    }
    h3 {
        -webkit-text-stroke: 1px $recordstore-sub;
    }
    .sub-title {
        -webkit-text-stroke: 1px $recordstore-sub;
    }
    // ul.contribute {
    //     li {
    //         background-color: $recordstore-sub;
    //         color: $recordstore;
    //     }
    // }
    .recordstore-menu-ani img {
        max-width: 450px;
        margin: auto;
    }
    .gallery-col-2 img {
        filter: grayscale(100%);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        &:hover {
            filter: grayscale(0%);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
    }
    @media (min-width: 800px) {
        .gallery-col-2 {
            grid-gap: 6em 4em;
            max-width: 1100px;
            margin: auto;
        }
    }
    @media (max-width: 800px) {
        .grid [class*='col-']:last-of-type {
            margin-bottom: 10vh;
            margin-top: 20vh;
        }
        // make the wallpaper look prettier on mobile 
        background-position: top right;
        background-size: 250%;
    }
    section .card a {
        -webkit-text-fill-color: unset;
        color: $recordstore!important;
    }
    // .grid {
    //   position: relative;
    // }
    .vinyl {
        width: 37vw;
        max-width: 1300px;
        top: 21vw;
        position: absolute;
        left: -14vw;
        transform: translate(-50%);
    }
    .sub-title {
        -webkit-text-stroke: 1px $recordstore-sub;
        @media (max-width: 800px) {
            color: $recordstore-sub;
            -webkit-text-stroke: transparent;
        }
        @media (min-width: 800px) {
            .col-2-text {
                padding: 5%;
            }
        }
    }
    .alt-section {
        background: $recordstore-sub;
        p,
        ul li,
        h4,
        ul ::marker,
        figcaption {
            color: $recordstore;
        }
        h3 {
            -webkit-text-stroke: 1px $recordstore;
        }
        a {
            color: $recordstore-sub !important;
        }
        .button {
            background: $recordstore-sub;
            color: $recordstore!important;
        }
    }
}

// Our planet 
body.ourplanet {
    background-color: #31993d;
    background-image: url(src/images/ourplanet/rainforest.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    h2 {
        color: white;
    }
    h3,
    .sub-title {
        -webkit-text-stroke: 1px #fff;
    }
    #scroll-text {
        background: #407808;
    }
    .card a {
      -webkit-text-fill-color: unset;
      color: black!important;
    }
    section.browser-mockup-section .mockup{
    border: solid 10px rgba(255, 255, 255, .5);
    border-top-width: 45px;
    }
}

$dirtyhit: #292929;
$dirtyhit-sub: #f2f2f2;
body.dirtyhit {
    background-color: $dirtyhit;
    color: $dirtyhit-sub;
    background: url(src/images/dirtyhit/pexels-iconcom-479444.jpg) $dirtyhit no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .alt-section-start {
        background: url(src/images/dirtyhit/dh-alt-bg-start.png) no-repeat top center !important;
        background-size: contain!important;
    }
    .alt-section-end {
        background: url(src/images/dirtyhit/dh-alt-bg-end.png) no-repeat bottom center !important;
        background-size: contain!important;
    }
    .alt-section img {
        border-radius: 1em;
    }
    .animations {
        img {
            border-radius: 1em;
            max-width: 400px;
            margin-top: 5em;
            margin: 5em auto 0;
        }
        figcaption {
            text-align: center;
        }
    }
    h2 {
        color: $dirtyhit-sub;
    }
    h3 {
        -webkit-text-stroke: 1px $dirtyhit-sub;
    }
    .sub-title {
        -webkit-text-stroke: 1px $dirtyhit-sub;
    }
    ul.contribute {
        li {
            background-color: $dirtyhit-sub;
            color: $dirtyhit;
        }
    }
    .gallery-col-2 img {
        filter: grayscale(100%);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        &:hover {
            filter: grayscale(0%);
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
        }
    }
    @media (min-width: 800px) {
        .gallery-col-2 {
            // grid-gap: 6em 4em;
            // max-width: 1100px;
            margin: auto;
        }
    }
    @media (max-width: 800px) {
        .grid [class*='col-']:last-of-type {
            margin-bottom: 10vh;
            margin-top: 20vh;
        }
    }
    section .card a {
        -webkit-text-fill-color: unset;
        color: $dirtyhit!important;
    }
    // .grid {
    //   position: relative;
    // }
    .sub-title {
        -webkit-text-stroke: 1px $dirtyhit-sub;
        @media (max-width: 800px) {
            color: $dirtyhit-sub;
            -webkit-text-stroke: transparent;
        }
        @media (min-width: 800px) {
            .col-2-text {
                padding: 5%;
            }
        }
    }
    section.browser-mockup-section .mockup {
        border: solid 10px rgba(255, 255, 255, .5);
        border-top-width: 45px;
    }
    .alt-section {
        background: $dirtyhit-sub!important;
        p,
        ul li,
        h4,
        ul ::marker,
        figcaption {
            color: $dirtyhit;
        }
        h3 {
            -webkit-text-stroke: 1px $dirtyhit;
        }
        a {
            color: $dirtyhit-sub !important;
        }
        .button {
            background: $dirtyhit-sub;
            color: $dirtyhit!important;
        }
    }
    #scroll-text{
      background:#151515;
    }
}

$samsmith: #333;
$samsmith-sub: #f8f1e1;
body.samsmith {
    background-color: $samsmith;
    color: $samsmith-sub;
    border: 5px solid $samsmith-sub;
    background-image: url(src/images/sam/flowers-bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 350px;
    background-attachment: fixed;
    h2 {
        color: $samsmith-sub;
    }
    h3{
      -webkit-text-stroke: 1px $samsmith-sub;
    }
    #scroll-text {
        background-color: $samsmith;
    }
    section.browser-mockup-section .mockup {
        border: solid 10px #1f1f1f;
        border-top-width: 45px;
    }
    .card a{
      -webkit-text-fill-color: unset;
    }
    @media (max-width: 800px) {
        background-attachment: unset;
        background-size: 50%;
    }
}

$decca:  #413958;
$decca-sub:#fff;
body.decca {
    background-color: $decca;
    color: $decca-sub;
    border: 5px solid $decca-sub;
    h2 {
        color: $decca-sub;
    }
    h3 {
        -webkit-text-stroke: 1px $decca-sub;
    }
    .sub-title {
        -webkit-text-stroke: 1px $decca-sub;
    }
    #scroll-text {
        background-color: $decca;
    }
    section.browser-mockup-section .mockup {
        border: solid 10px rgba(255, 255, 255, .2);
        border-top-width: 45px;
    }
    @media (max-width:800px) {
        .sub-title {
            -webkit-text-stroke: transparent;
            color: $decca-sub;
        }
    }
    .card a{
      -webkit-text-fill-color: unset;
    }
}

$island-pink:#ffbaf3;
$island-yellow:#ffd405;
$island-blue: #3a71b4;
$island-red:#de2c2d;
$island: #000;
body.islandrecords {
    background-color: $island-yellow;
    background-image: url(src/images/island-records/palm.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    border-top: 10px solid $island-pink;
    border-right: 10px solid $island-blue;
    border-left: 10px solid $island-red;
    border-bottom: 10px solid $island-pink;
    color: $island;
    h2 {
        color: $island;
    }
    .sub-title {
        -webkit-text-stroke: 1px $island;
    }
    a {
        position: inherit;
        color: $island-red;
        background: none;
        background-clip: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background-position: unset;
        transition: unset;
        text-decoration: none;
    }
    button {
        background-color: $island-blue;
        a{
          color: $island-yellow;
        }
    }
    @media (max-width: 800px) {
        .sub-title {
            font-size: 2em;
            color: #000000;
            -webkit-text-stroke: unset;
        }
        body.islandrecords .sub-title {
            -webkit-text-stroke: unset;
        }
        section.intro {
            min-height: unset;
        }
    }
}


.about{
  h3{
    -webkit-text-stroke: 1px $secondary;
  }
}

@media (max-width:800px){
  section.browser-mockup-section {
    .mockup .scroll-container {
    overflow-y: scroll;
    height: 50vh;
    max-height: 250px;
    }
    .mockup-container {
      margin-bottom: 2em;
    }
  }
  .ourplanet{
    .sub-title{
      color: #fff;
      -webkit-text-stroke: unset!important;
    }
  }
}

.choi-lab{
    section:first-of-type {
        padding-top: 0;
    }
    .gallery-col-2 {
        margin: 2em 0;
    }
    .labs {
        max-width: 500px;
        margin: auto;
    }
    H4 {
        margin: 36px 0 24px;
    }
}

.center {
    text-align: center!important;
}




// All douglas styling 
$douglas:#d15829;
$douglas-sub: #F4F0EE;
body.douglas-squirrel {
    color: rgb(155, 143, 143);
    background-color: $douglas-sub;
    // background-image: url(src/images/lisa-squirrel/lisa-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid $douglas; 
    .grid.book {
        left: 50%;
        transform: translate(-50%);
        margin: 0 auto 24px auto;
        padding: 0;
        position: absolute;
        z-index: 400;
        width: 100%;
        max-width: none;
    }
    .doug-ragged-intro {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9000;
    }
    .doug-img{
        // margin-top: -5em;
        max-width: 400px;
        margin:auto;

    }
    .portfolio-page {
        background: $douglas;
        // background: #d15829;
        @media (min-width: 800px) {
            min-height: 800px;
        }
        @media (max-width: 800px) {
            min-height: 450px;
        }
        position: relative;
        padding-top: 2em;
        .col-1-1 img{
            max-width: 700px;
        }
    }
    .button {
        background: $douglas;
        border: 0;
        padding: 0.5em 2em;
        font-family: inherit;
        border-radius: 3em;
        margin: .5em 0;
        display: block;
        color: $douglas-sub;
        font-size: 1em;
        display: inline-block;
    }
    @media (max-width: 800px) {
        background-size: 200%;
        background-position: top right;
    }
    h2,
    h4 {
        color: $douglas;
    }
    h2{
        margin-top: -0.2em;
    }
    h3 {
        -webkit-text-stroke: 1px $douglas;
    }
    h4.quote{
        font-size: 30px;
        line-height: 1.5;
        text-transform: none;
        margin: 24px 0 12px;
        font-weight: 400;
        letter-spacing: 1px; 
        font-style: italic;
    }
    .sub-title {
        -webkit-text-stroke: 1px $douglas!important;
    }
    @media (max-width: 800px){
        .sub-title {
            font-size: 2em;
            color: $douglas!important;
            -webkit-text-stroke: unset!important;
        }
    }
    ul {
         ::marker {
            color: $douglas;
        }
    }
    section a {
        -webkit-text-fill-color: unset;
        color: $douglas!important
    }
    ul.contribute {
        li {
            background-color: $douglas;
            color: $douglas-sub;
        }
    }
    .alt-section-start {
        background: url(src/images/douglas-squirrel/doug-squirrel-alt-bg.jpg) $douglas no-repeat top center !important;
        background-size: contain!important;
    }
    .alt-section-end {
        background: url(src/images/douglas-squirrel/doug-squirrel-alt-bg-end.jpg) $douglas-sub no-repeat top center !important;
        background-size: contain!important;
    }
    section.browser-mockup-section .mockup {
      border: solid 10px rgba(255, 255, 255, .5);
        border-top-width: 45px;
    }
    #scroll-text {
        background: $douglas;
    }
    .gallery-col-2{
        margin-bottom: 0;
    }
    // Section where it changes colour to break it up a bit
    .douglas-alt-section {
        background: $douglas;
        
        p,
        ul li,
        h4,
        ul ::marker,
        figcaption {
            color: $douglas-sub;
        }
        h3 {
            -webkit-text-stroke: 1px $douglas-sub;
        }
        h4{
            color: $douglas-sub!important;
        }
        a {
            color:  $douglas-sub !important;
        }
        .button {
            background: #da8a70;
            color: $douglas-sub!important;
        }
    }
}