body.home {
    background-color: $secondary;
}

.home {
    .sidetext {
        position: fixed;
        z-index: 9998;
        bottom: 15vh;
        width: 500px;
        /* after rotation this is the height */
        margin-top: 250px;
        /* is 50% of width */
        transform: rotate(270deg);
        transform-origin: 0% 0%;
        /* set to the upper-left corner */
        -ms-transform: rotate(270deg);
        /* IE 9 */
        -ms-transform-origin: 0% 0%;
        /* IE 9 */
        -webkit-transform: rotate(270deg);
        /* Safari and Chrome */
        -webkit-transform-origin: 0% 0%;
        /* Safari and Chrome */
        p {
            font-size: .75em;
            letter-spacing: 5px;
            color: #d0ff00;
            text-transform: uppercase;
            margin: 0.5em;
        }
    }
    .intro {
        position: relative;
        background-size: auto;
        background-position: center;
        height: 95vh;
        min-height: 600px;
        // background-image: url(/src/images/home/pexels-saph-photography-2929887copy.jpg);
        background-image: url(/src/images/home/pexels-zack-jarosz-1727658.jpg);
        background-size: cover;
        background-color: $dark;
        overflow: hidden;
        -webkit-animation: AnimationName 20s ease infinite;
        -moz-animation: AnimationName 20s ease infinite;
        animation: AnimationName 20s ease infinite;
          .github {
            text-align: center;
            text-transform: uppercase;
            border: 1px dashed $secondary;
            bottom: -3.5vh;
            position: absolute;
            min-width: 300px;
            left: 50%;
            border-radius: 1em;
            padding: .5em 1em 2em;
            transform: translateX(-50%);
            
            p, q {
              font-size: 0.8em;
              margin: 0.2em 0.5em;
              letter-spacing: 3px;
          }
        }
      }
      
        @-webkit-keyframes AnimationName {
          0% {
            background-position: 10% 70%;
          }
          50% {
              background-position: 50% 50%;
          }
          100% {
              background-position: 10% 70%;
          }
        }
        @-moz-keyframes AnimationName {
          0% {
            background-position: 10% 70%;
          }
          50% {
              background-position: 50% 50%;
          }
          100% {
              background-position: 10% 70%;
          }
        }
        @keyframes AnimationName {
          0% {
            background-position: 10% 70%;
          }
          50% {
              background-position: 50% 50%;
          }
          100% {
              background-position: 10% 70%;
          }
        }
    h2 {
      font-size: 10vw;
    }
    .home-foot h2 {
        @media (max-width:800px){
          font-size: 10vh;
        }
    }
    h1 {
        font-size: 30px;
        line-height: 36px;
        border-bottom: 3px solid $primary;
        padding: 0 0 $baseline 0;
        margin: 0 0 $baseline 0;
    }
    .col {
        background-size: cover;
        min-height: 49vw;
    }
    .rotatingText {
        margin: 0;
        line-height: 1.5;
        position: absolute;
        top: 12vh;
        right: 10%;
        width: 50%;
        max-width: 650px;
        margin: 15vh .5em;
        color: $secondary;
        h3 {
          // font-size: $baseline*6;
          font-size: 15vw;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 0;
          padding-right: 0;
          -webkit-text-stroke: 1px $secondary;
          color: transparent;
        }
        h4{
          font-size: 2.2em;
          margin: 0;
          padding-left: 1em;
          text-shadow: 1px 1px 10px black;
        }
        @media (max-width: 1000px) {
          width: 80%;
          h4{
            font-size: 3.5vw;
          }
        }
        @media (max-width: 800px) {
          h4{
            width: 100%;
            font-size: 1.7em;;
          }
          h3 {
            font-size: $baseline*5;
          }
        }

        // @media (min-width: 1400px) {
        //     width: 45%;
        //     max-width: 1400px;
        //     // margin: 20vh 5vw;
        //     text-align: left;
        //     font-size: 3em;
        //     font-weight: 700;
        // }
    }
    .rotatingText-adjective {
        // font-family: $title;
        text-align: left;
        font-style: normal;
        left: 0;
        margin-bottom: 0;
        margin-top: 50px;
        padding-left: 1em;
        opacity: 0;
        position: absolute;
        right: 0;
        margin-top: 1.5em;
    }
    .rotatingText-adjective {
        animation-name: rotate;
        animation-duration: 1.5s;
        &:nth-of-type(1) {
            animation-delay: 1.5s;
        }
        &:nth-of-type(2) {
            animation-delay: 3.5s;
        }
        &:nth-of-type(3) {
            animation-delay: 5.5s;
        }
        &:nth-of-type(4) {
            animation-name: rotate-last;
            animation-duration: 1.5s;
            animation-delay: 7.5s;
            animation-fill-mode: forwards;
        }
    }
    @keyframes rotate {
        0% {
            opacity: 0;
            transform: translate3d(0, 50px, 0);
        }
        20%,
        80% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        100% {
            opacity: 0;
            transform: translate3d(0, -25px, 0);
        }
    }
    @keyframes rotate-last {
        0% {
            opacity: 0;
            transform: translate3d(0, 50px, 0);
        }
        50%,
        100% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.home section:first-of-type {
    padding: 0;
}

.ourplanet {
  background-image: url(/src/images/home/ourplanet.jpg);
    #midground {
      background: url(/src/images/home/ourplanet-mid.png) repeat 20% 20%;
    }
    #foreground {
        background: url(/src/images/home/ourplanet-small.png) repeat 35% 35%;
    }
}

.douglas {
  background: #D15727;
  #midground {
    background: url(/src/images/douglas-squirrel/leaves-B.png) repeat 20% 20%;
  }
  #foreground {
      background: url(/src/images/douglas-squirrel/leaves-A.png) repeat 35% 35%;
  }
}

.snow{
    overflow: hidden;
    position: relative;
    background-size: cover;
    @-webkit-keyframes STAR-MOVE {
        from {
            left: 0;
            top: 0;
        }
        to {
            left: -10000px;
            bottom: -20000px;
        }
    }
    #midground {
        // background: url(/src/images/home/ourplanet-mid.png) repeat 20% 20%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        -webkit-animation-name: STAR-MOVE;
        -webkit-animation-duration: 150s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }
    #foreground {
        // background: url(/src/images/home/ourplanet-small.png) repeat 35% 35%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 300;
        -webkit-animation-name: STAR-MOVE;
        -webkit-animation-duration: 100s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
    }
    .tile-logo {
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// for sam smith section animation
.container {
    // height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    background-position: center;
    // width: 100%;
    overflow: hidden;
    img {
        // height: 100vh;
        // width: auto;
        margin: auto!important;
    }
}

.home {
    .recordstore {
        background-color: #45b152;
    }
    // .samsmith {
    //     background-image: url(/src/images/sam/sam1.jpg);
    // }
    .islandrecords {
        background-image: url(/src/images/home/island.jpg);
        overflow: hidden;
    }
}

.home-foot {
    background-color: $primary;
    color: $light;
    padding: 5%;
    h2 {
        color: $light;
    }
    .project-list {
        background-color: darken($color: $primary, $amount: 3);
    }
    div {
        background-color: $primary;
    }
}

// hiding python until it's ready 
.python {
    // background-image: url(/src/images/home/montypython.jpg);
    // background-size: cover;
}

.lisa-home {
    background: url(/src/images/home/lisa-blur.jpg);
    img {
        transition: all 0.5s ease;
        &:hover {
            opacity: 0;
            transition: all 0.5s ease;
        }
    }
}

// .move-area {
//     /*normally use body*/
//     // width: 50vw;
//     // height: 50vh;
//     // padding: 10% 45%;
// }
.face {
    // padding: 0.75vw 25%;
    display: block;
    position: relative;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    height: 50vw;
}

.eye {
    display: inline-block;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    margin: 3.8vw 5vh;
}

.eye:after {
    /*pupil*/
    position: absolute;
    // bottom: 5px;
    // right: 15px;
    width: 1.5vw;
    height: 1.5vw;
    background: #17110ad9;
    border-radius: 50%;
    content: " ";
    border: 0.3em solid #654734bf;
}

// @media (max-width:800px){
// .col.python.move-area {
//     display: none;
// }
// }
@media (min-width: 1400px) {
    .home .intro {
        background-size: 105%;
    }
}

@media(max-width: 800px) {
    .vinyl {
        display: none;
    }
    .home .rotatingText {
        top: 12vh;
        margin: 20vh .5em
    }
    .clients section ul {
        columns: 2;
        -webkit-columns: 2;
    }
    .home .intro {
      background-size: cover;
      background-position: top left -150px;
      overflow: hidden;
      -webkit-animation: unset;
      -moz-animation: unset;
      animation: unset;
      background-repeat: no-repeat;
      height: 100vh;
      .github {
        top: 95vh;
      }
  }
}


.hiphop{
  background-image: url(/src//images/home/hiphop.jpg);
}
.ronnie{
  background-image: url(/src//images/home/ronnie.jpg);
}
.stones{
  background-image: url(/src//images/home/stones.jpg);
}
.rolling{
  background-image: url(/src//images/home/rollingstones.jpg);
}
// .douglas{
//   background-image: url(/src//images/home/douglas.jpg);
// }
.mumford{
  background-image: url(/src//images/home/mumford.jpg);
}
.billie{
  background-image: url(/src//images/home/billie.jpg);
}
.weeknd{
  background-image: url(/src//images/home/theweeknd.jpg);
}
.sportsteam{
  background-image: url(/src//images/home/sportsteam.jpg);
}
.the1975{
  background-image: url(/src//images/home/1975.jpg);
}
.motown{
  background-image: url(/src//images/home/motown.jpg);
}
.montypython{
  background-image: url(/src//images/home/montypython-1.jpg);
}
.jrocknews{
  background-image: url(/src//images/home/jrocknews.jpg);
}
.decorte{
  background-image: url(/src//images/home/decorte.jpg);
}

.barbour{
  background-image: url(/src//images/home/barbour-wax-for-life.jpg);
}

.jrock-merch-1{
  background-image: url(/src//images/home/jrocknews-merch-1.jpg);
}

.jrock-3{
  background-image: url(/src//images/home/jrock-3.jpg);
}
.jrock-4{
  background-image: url(/src//images/home/jrock-4.jpg);
}
.jrock-5{
  background-image: url(/src//images/home/jrock-5.jpg);
}

.choizilla{
  background-image: url(/src//images/home/choizilla.jpg);
}

.choizilla-2{
  background-image: url(/src//images/home/choizilla-2.jpg);
}

.agile{
  background-image: url(/src//images/home/agile.jpg);
}


// Coming soon sign 
.rollinghover {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .2s ease-in-out;
  &:hover {
    opacity: 100;
    transition: all .2s ease-in-out;
  }
}

.soon {
  overflow: hidden;
}

.marquee {
  position: absolute;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  background: #cfff00;
  color: #000000;
  -ms-transform-origin: 15px 0;
  -webkit-transform-origin: 15px 0;
  transform-origin: 15px 0;
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  left: 25%;
  bottom: -50%;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  // animation-play-state: running;
}

.marquee span {
  font-size: 5vw;
  padding: 0 2vw;
  font-family: $title;
  @media(max-width:800px){
    font-size: 2em;
  }
}

.rollinghover:active .marquee__inner,
.rollinghover:hover .marquee__inner {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

.folder-tile{
  text-align: center;
  margin: 5%;
  .col-1-1{
    margin-top: 15vw;
  }
  // .col-1-2 {
  //   width: 39%!important;
  //   float: left!important;
  //   margin: 5%!important;

  // }
  p {
    // font-size: 16px;
    margin: 0.5em 0 1.5em 0;
    color: $dark;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: black;
    display: inline-block;
    padding: 0.2em 0.5em 0;
  }
  a{
    color: $dark!important;
  }
  img {
    max-width: 150px;
    margin: auto;
  }
}