// Measurements
$baseline: 24px;
$mobile: 800px;
// Stylistic
$stack: 'Josefin Sans',
sans-serif;
$title: 'Millik';

$box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
// Colours
$primary:#07829c;
$secondary: #cfff00;

$light: #ffffff;
$dark: #000000;
$medium: #f0f0f0;
$fine: #898989;
$neutral: #a6a6a6;
$neutral-dark: #555555;
$neutral-light: #f2f2f2;