@charset "UTF-8";
/* It's Choi website 2021 theme  Designer: Choi <stmchoi@gmail.com>
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.grid { max-width: none; margin: 0 auto 24px auto; padding: 0; }
.grid.wide { max-width: 1200px; }
.grid:after { content: ""; display: table; clear: both; }
.grid:last-child { margin-bottom: 0; }

[class*='col-'] { margin: auto; box-sizing: border-box; }
.grid [class*='col-']:last-of-type { padding-right: 0; }

.home-grid { display: grid; grid-template-columns: repeat(2, 1fr); }

.col-nav { width: 100%; text-align: center; }

.nav-toggle { width: 100px; height: 100px; background: red; border-radius: 100px; }

.col-1-1 { width: 100%; max-width: 1800px; max-width: auto; }
.col-1-1 img { max-width: 1200px; margin: auto; border-radius: 1em; }

.col-1-2 { width: 48%; }

.col-1-4 { width: 25%; }

.col-3-4 { width: 75%; }

.col-1-3 { width: 33.3%; margin: auto; }

.col-2-3 { width: 66.6%; }

.hide-desktop { display: none; }

@media (max-width: 800px) { .gallery-col-2 { padding: 6em 0; } }
@media (min-width: 800px) { .gallery-col-2 { display: grid; grid-gap: 0; grid-template-columns: repeat(2, 1fr); margin: 10em 0; } }
@media screen and (max-width: 800px) { .home-grid { grid-template-columns: repeat(1, 1fr); }
  .home .col { min-height: 97vw !important; }
  [class*='col-'] { width: 100%; padding-right: 0; }
  .grid [class*='col-']:last-of-type { margin-bottom: 0; }
  [class*='col-'] .col-1-3 { width: 50%; padding: 12px; }
  .hide-mobile { display: none; }
  .hide-desktop { display: block; } }
@media (min-width: 2000px) { .home-grid { grid-template-columns: repeat(3, 1fr); }
  .home .col { min-height: 33vw !important; }
  .home-foot h2 { font-size: 7vw !important; } }
@font-face { font-family: 'Millik'; src: url("/src/font/millik.woff") format("woff");
  /* IE9 Compat Modes */ }
body { font-family: "Josefin Sans", sans-serif; font-size: 16px; font-weight: 300; font-style: normal; line-height: 1.5; color: #ffffff; }
@media (max-width: 800px) { body { font-size: 14px !important; } }

strong { font-weight: 700; }

em { font-style: italic; }

h1 { font-family: "Millik"; font-size: 46px; line-height: 52px; text-align: center; margin-bottom: 36px; }

h2 { font-family: "Millik"; font-size: 8em; line-height: 1.2; color: #cfff00; margin: 12px 0; }
@media (max-width: 1000px) { h2 { font-size: 5em; } }

h5 { text-transform: uppercase; letter-spacing: 2px; font-size: .9em; text-align: center; margin: 5em 0 0; }

a { color: #cfff00; word-wrap: break-word; position: relative; color: #cfff00; background: linear-gradient(to right, #c7c7c7, #c7c7c7 50%, #cfff00 50%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% 100%; background-position: 100%; transition: background-position 275ms ease; text-decoration: none; }
a:hover { background-position: 0 100%; }

h3 { font-family: "Millik"; font-size: 5em; line-height: 1.2; margin-top: 1.5em; margin-bottom: 1em; padding-right: 0; -webkit-text-stroke: 1px black; color: transparent; }
h3.mockup-title { text-align: center; }
h3.CTA { font-size: 30px; line-height: 1.5; text-align: center; }

H4 { font-size: 22px; line-height: 1.5; text-transform: uppercase; margin: 60px 0 12px; font-weight: 700; letter-spacing: 5px; }
H4.mockup-title { text-align: center; }
@media (max-width: 800px) { H4.long-url { font-size: 1em; letter-spacing: 3px; } }

.sub-title { font-size: 3.5em; -webkit-text-stroke: 1px #2764ac; color: transparent; font-family: "Millik"; margin: 0.2em 0 .5em; line-height: 1.2; }
@media (max-width: 800px) { .sub-title { font-size: 2em; color: #2764ac; -webkit-text-stroke: unset; } }

.center-title { text-align: center; }

figcaption { font-size: 0.8em; padding: .5em 0; }

p, q { font-size: 20px; margin: 1.5em 0; }

q { quotes: "“" "”"; }
q:before { content: open-quote; }
q:after { content: close-quote; }

ul.contribute li { transform: skewX(-10deg); }

ul { list-style-type: square; margin-left: -2em; }
ul ::marker { color: #cfff00; }
@media (max-width: 800px) { ul { margin-left: 0; } }
ul li { padding-left: 18px; margin: 24px 0; font-size: 20px; margin-left: 16px; }
ul ul { margin-left: 32px; }
ul ul li { list-style-type: circle; }

footer ul { list-style: none; }
footer ul li { font-size: 19px; line-height: 22px; margin: 12px 0; }

small { font-size: .7em; line-height: 18px; display: block; color: #ffffff; margin: .5em 0; }

span.call-to-action, a.button, button, input[type=button] { font-size: 24px; line-height: 30px; }
span.call-to-action a, a.button a, button a, input[type=button] a { color: #0a0a0a; text-decoration: none; color: black; word-wrap: unset; position: unset; background: unset; background-clip: unset; -webkit-background-clip: unset; -webkit-text-fill-color: unset; background-size: unset; background-position: unset; transition: unset; text-decoration: unset; }
span.call-to-action:hover, a.button:hover, button:hover, input[type=button]:hover { background: #b0da01; }

.strike { text-decoration: line-through; padding: 0 .2em; font-size: 19px; }

@media (max-width: 1000px) { h1, h2, h3 { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; } }
@media (max-width: 800px) { h3 { font-size: 3em; } }
body { background-color: #0a0a0a; border: 5px solid #cfff00; }

img { width: 100%; display: block; }

figure { margin: 2em 0 1em; }

.small-img { max-width: 100px; margin: auto !important; padding: 1em 1em 0; }

.med-img { max-width: 200px; padding: 1em; margin: 0 auto !important; }

.resource-img { max-width: 120px; margin: 0 auto !important; padding: 1em; }

.external-img { width: 8px; margin-bottom: auto; padding: 0 0 0.2em 0.1em; display: inline; margin: 0; }

video { width: 100%; margin: 24px 0 !important; display: block; background: #ffffff; }

hr { border: none; background-color: #ffffff; height: 3px; width: 20%; margin: 80px 80% 0 0; float: left; }

.card-holder { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 5%; }
@media (max-width: 800px) { .card-holder { grid-template-columns: repeat(1, 1fr); } }
.card-holder div.card { background-color: #ffffff; margin: 24px 0; box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); border-radius: 1em; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; }
.card-holder div.card:hover { -ms-transform: scale(1.1); /* IE 9 */ -webkit-transform: scale(1.1); /* Safari 3-8 */ transform: scale(1.1); -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; }
.card-holder div.card p { padding: 0 24px; }
.card-holder div.card img { border-radius: 0 !important; }
.card-holder div.card h3 { margin-bottom: 12px; padding: 0; }
.card-holder div.card a { background-color: #0a0a0a !important; }
.card-holder div.card a p { color: #000000; }

#loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99998; }

#loader { display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border: 3px solid transparent; border-top-color: #cfff00; z-index: 99999; }

#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border: 3px solid transparent; border-top-color: #cfff00; }

#loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border: 3px solid transparent; border-top-color: #cfff00; }

#loader { border-radius: 50%; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }

#loader:before { border-radius: 50%; -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite; }

#loader:after { border-radius: 50%; -webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: rotate(0deg);
    /* IE 9 */
transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% { -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: rotate(360deg);
    /* IE 9 */
transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin { 0% { -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: rotate(0deg);
    /* IE 9 */
transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% { -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
-ms-transform: rotate(360deg);
    /* IE 9 */
transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background-color: #000000; z-index: 1000; }

#loader-wrapper .loader-section.section-left { left: 0; }

#loader-wrapper .loader-section.section-right { right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left { -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateX(-100%); /* IE 9 */ transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */ }

.loaded #loader-wrapper .loader-section.section-right { -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */ -ms-transform: translateX(100%); /* IE 9 */ transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */ }

.loaded #loader { opacity: 0; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.loaded #loader-wrapper { visibility: hidden; }

.loaded #loader-wrapper .loader-section.section-right, .loaded #loader-wrapper .loader-section.section-left { -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all 0.3s 1s ease-out; transition: all 0.3s 1s ease-out; }

.no-js #loader-wrapper { display: none; }

.clients section .col-1-1 { max-width: 1000px; margin: auto; }
.clients section ul { columns: 3; -webkit-columns: 3; -moz-columns: 3; margin: 2em 0 8em; }
.clients section ul li { padding-left: 0; font-size: 15px; text-indent: 0; text-transform: uppercase; margin: 18px 0; }
.clients section ul li:first-of-type { margin-top: 0; }
.clients .logos { display: grid; grid-template-columns: repeat(5, 1fr); }
@media (max-width: 800px) { .clients .logos { grid-template-columns: repeat(3, 1fr); } }
.clients .logos img { transition: transform .2s; }
.clients .logos img:hover { transition: transform .2s; transform: scale(1.5); }

section { padding: 48px 24px; }
section .content-img { margin: 48px auto 96px; }
section:first-of-type { padding-top: 136px; }
section.illustration { background-color: #0a0a0a; background: linear-gradient(#0a0a0a 88.6%, #ffffff 1%); background-size: 100% 100%; padding: 96px 0 0 0; }
section.illustration img { margin: 0 !important; }
section.feature { background: #cfff00 url("images/bottom-leaves.png") bottom center no-repeat; background-size: 800px; padding-bottom: 24px; }
section.prefooter { padding: 40px 24px !important; background-color: #0a0a0a; color: #ffffff; text-align: center; }
section.prefooter a { color: #ffffff; }
section.prefooter a:hover { color: #e6e6e6; }
section.prefooter img { width: 30%; margin: 0 35% 24px 35% !important; }
section.copyright { padding: 12px; }
section.intro { background-size: 100%; }
section.intro nav { text-align: center; padding: 24px 0; }
section.intro nav a { font-size: 24px; line-height: 36px; color: #0a0a0a; text-decoration: none; padding: 0 18px; white-space: nowrap; }
section.intro nav a:hover { color: black; }
section.intro .card { background-color: #f0f0f0; }
section.intro .card img.thumb { padding: 0 24px; box-sizing: border-box; }
@media screen and (max-width: 800px) { section.intro .card img.thumb { max-width: 40%; margin: 0 auto 24px auto !important; } }
@media screen and (max-width: 800px) { section .card { text-align: center; } }
@media (min-width: 800px) { section .resource { display: flex; }
  section .double-btn { width: 50% !important; max-width: 180px !important; } }

button { background: #ceff02; border: 0; padding: 0.5em 2em; font-family: inherit; border-radius: 3em; margin: .5em 0; display: block; }

.accordion { border-bottom: 1px solid #a6a6a6; }
.accordion dt { position: relative; cursor: pointer; margin: 0; padding: 12px 12px; }
.accordion dt h3 { color: #0a0a0a; margin: 0 0 6px; }
.accordion dt p { margin: 0; color: #555555; }
.accordion dt:after { content: '+'; width: 20px; height: 25px; position: absolute; top: 12px; right: 12px; color: #0a0a0a; font-size: 32px; font-weight: bold; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
.accordion:not(.open) dt:hover { background-color: #f2f2f2; }
.accordion.open dt:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.accordion dd { margin: 0 12px; display: none; }
.accordion:first-child { border-top: 1px solid #a6a6a6; }

a.secondary-btn { margin: 1em auto !important; box-sizing: border-box; max-width: 200px; }
a.secondary-btn span { background-color: #cfff00; color: #0a0a0a; box-shadow: inset 0 3px #0a0a0a; }

.double-btn { display: inline-block !important; margin: 0 !important; max-width: none; width: 100%; }

.anchor { position: relative; }

.anchor a { position: absolute; left: 0px; top: -48px; }

@media screen and (min-width: 896px) { .anchor a { position: absolute; left: 0px; top: -66px; } }
.contribute { font-size: 1.2em; display: inline-block; margin: .5em 0 .2em; }

ul.contribute { display: inline-block; }
ul.contribute li { font-size: 1em; background-color: rgba(0, 0, 0, 0.1); padding: 0.2em .5em; display: inline-block; margin: 0.2em .5em 0.2em 0; }

.mockup ::-webkit-scrollbar { display: none; }

body { font-size: 16px; }

section.intro { min-height: 70vh; }

section.browser-mockup-section { position: relative; padding: 2em; overflow: hidden; }
section.browser-mockup-section h4 { text-align: center; margin: 2em 0; }
section.browser-mockup-section::before { content: ""; position: absolute; width: 150%; height: 58%; top: -20%; left: -25%; }
section.browser-mockup-section .mockup { border: solid 10px #e8e8e8; border: solid 10px rgba(255, 255, 255, 0.5); border-top-width: 45px; border-radius: 6px; box-shadow: 3px 12px 30px -8px rgba(0, 0, 0, 0.2); transform: rotateX(-15deg) rotateY(0deg) rotateZ(0deg); transition: all ease 0.4s; max-width: 1200px; width: 100%; margin: auto; }
section.browser-mockup-section .mockup .scroll-container { overflow-y: scroll; height: 75vh; max-height: 700px; }
section.browser-mockup-section .mockup-container { margin-bottom: 10em; }
section.browser-mockup-section .mockup ::-webkit-scrollbar { width: 0; }
section.browser-mockup-section .mockup img { width: 100%; height: auto; }
section.browser-mockup-section .browser-control { position: absolute; height: 10px; width: 10px; top: -27px; left: 30px; background: #000; background: #FEC031; border-radius: 50%; opacity: 0.12; opacity: 1; }
section.browser-mockup-section .browser-control::before { content: ""; position: absolute; height: 100%; width: 100%; left: -20px; background: #000; background: #FF6054; border-radius: 50%; }
section.browser-mockup-section .browser-control::after { content: ""; position: absolute; height: 100%; width: 100%; right: -20px; background: #000; background: #00CE4A; border-radius: 50%; }
section.browser-mockup-section .mockup:hover { transform: rotateX(-10deg) rotateY(0deg) rotateZ(0); }

.portfolio-page #scroll-text { top: 0; }

.home #scroll-text { top: 95vh; }

#scroll-text { position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 7777; color: #ffffff; padding: 10px 15px; background: #0a0a0a; border-radius: 4em; padding-right: 3em; top: -45px; }

.scroll-icon { position: absolute; width: 30px; fill: #ffffff; border-radius: 100%; margin: -4px 1em 0 .5em; }

.scroll-animation { animation: scrollIcon ease 2s infinite; }

@keyframes scrollIcon { 0% { transform: translateY(0); opacity: 1; }
  49% { transform: translateY(-10px); opacity: 0; }
  51% { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; } }
.scroll-animation { animation: scrollIcon linear 1.7s infinite; }

@keyframes scrollIcon { 0% { transform: translateY(15px); opacity: 0; }
  50% { transform: translateY(7.5px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0; } }
.video { text-align: center; }

.clients ul li { list-style: none; }

body.clients, body.about, body.contact { min-height: 100vh; background-image: url(src/images/global/neon-rip.png); background-repeat: no-repeat; background-position: bottom; background-size: auto; }

section#biography { margin-bottom: 10em; }

.soon { background-image: url(src/images/global/comingsoon.jpg); }
.soon img { transition: all 0.5s ease; }
.soon img:hover { opacity: 0; transition: all 0.5s ease; }

body.lisa-squirrel { color: #333; background-color: #ebe8d7; background-image: url(src/images/lisa-squirrel/lisa-bg.jpg); background-size: contain; background-repeat: no-repeat; border: 5px solid #2764ac; }
body.lisa-squirrel .button { background: #2764ac; border: 0; padding: 0.5em 2em; font-family: inherit; border-radius: 3em; margin: .5em 0; display: block; color: #ebe8d7; font-size: 1em; display: inline-block; }
@media (max-width: 800px) { body.lisa-squirrel { background-size: 200%; background-position: top right; } }
body.lisa-squirrel h2, body.lisa-squirrel h4 { color: #2764ac; }
body.lisa-squirrel h3 { -webkit-text-stroke: 1px #2764ac; }
body.lisa-squirrel ul ::marker { color: #2764ac; }
body.lisa-squirrel section a { -webkit-text-fill-color: unset; color: #2764ac !important; }
body.lisa-squirrel ul.contribute li { background-color: #2764ac; color: #ebe8d7; }
body.lisa-squirrel .alt-section-start { background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg.jpg) #2764ac no-repeat top center !important; background-size: contain !important; }
body.lisa-squirrel .alt-section-end { background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg-end.jpg) #ebe8d7 no-repeat top center !important; background-size: contain !important; }
body.lisa-squirrel section.browser-mockup-section .mockup { border: solid 10px rgba(255, 255, 255, 0.5); border-top-width: 45px; }
body.lisa-squirrel #scroll-text { background: #2764ac; }
body.lisa-squirrel .lisa-alt-section { background: #2764ac; }
body.lisa-squirrel .lisa-alt-section p, body.lisa-squirrel .lisa-alt-section ul li, body.lisa-squirrel .lisa-alt-section h4, body.lisa-squirrel .lisa-alt-section ul ::marker, body.lisa-squirrel .lisa-alt-section figcaption { color: #ebe8d7; }
body.lisa-squirrel .lisa-alt-section h3 { -webkit-text-stroke: 1px #ebe8d7; }
body.lisa-squirrel .lisa-alt-section a { color: #f7a235 !important; }
body.lisa-squirrel .lisa-alt-section .button { background: #da8a70; color: #ebe8d7 !important; }

body.recordstore { background-color: #31993d; color: #efefef; background: url(src/images/recordstore/rs-wallpaper.jpg) #31993d no-repeat top right; background-size: contain; }
body.recordstore .alt-section-start { background: url(src/images/recordstore/recordstore-bg-2.jpg) #efefef no-repeat top center !important; background-size: contain !important; }
body.recordstore .alt-section-end { background: url(src/images/recordstore/recordstore-bg-1.jpg) #31993d no-repeat top center !important; background-size: contain !important; }
body.recordstore .alt-section img { border-radius: 1em; }
body.recordstore h2 { color: #efefef; }
body.recordstore h3 { -webkit-text-stroke: 1px #efefef; }
body.recordstore .sub-title { -webkit-text-stroke: 1px #efefef; }
body.recordstore .recordstore-menu-ani img { max-width: 450px; margin: auto; }
body.recordstore .gallery-col-2 img { filter: grayscale(100%); transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
body.recordstore .gallery-col-2 img:hover { filter: grayscale(0%); transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
@media (min-width: 800px) { body.recordstore .gallery-col-2 { grid-gap: 6em 4em; max-width: 1100px; margin: auto; } }
@media (max-width: 800px) { body.recordstore { background-position: top right; background-size: 250%; }
  body.recordstore .grid [class*='col-']:last-of-type { margin-bottom: 10vh; margin-top: 20vh; } }
body.recordstore section .card a { -webkit-text-fill-color: unset; color: #31993d !important; }
body.recordstore .vinyl { width: 37vw; max-width: 1300px; top: 21vw; position: absolute; left: -14vw; transform: translate(-50%); }
body.recordstore .sub-title { -webkit-text-stroke: 1px #efefef; }
@media (max-width: 800px) { body.recordstore .sub-title { color: #efefef; -webkit-text-stroke: transparent; } }
@media (min-width: 800px) { body.recordstore .sub-title .col-2-text { padding: 5%; } }
body.recordstore .alt-section { background: #efefef; }
body.recordstore .alt-section p, body.recordstore .alt-section ul li, body.recordstore .alt-section h4, body.recordstore .alt-section ul ::marker, body.recordstore .alt-section figcaption { color: #31993d; }
body.recordstore .alt-section h3 { -webkit-text-stroke: 1px #31993d; }
body.recordstore .alt-section a { color: #efefef !important; }
body.recordstore .alt-section .button { background: #efefef; color: #31993d !important; }

body.ourplanet { background-color: #31993d; background-image: url(src/images/ourplanet/rainforest.jpg); background-size: cover; background-attachment: fixed; color: white; }
body.ourplanet h2 { color: white; }
body.ourplanet h3, body.ourplanet .sub-title { -webkit-text-stroke: 1px #fff; }
body.ourplanet #scroll-text { background: #407808; }
body.ourplanet .card a { -webkit-text-fill-color: unset; color: black !important; }
body.ourplanet section.browser-mockup-section .mockup { border: solid 10px rgba(255, 255, 255, 0.5); border-top-width: 45px; }

body.dirtyhit { background-color: #292929; color: #f2f2f2; background: url(src/images/dirtyhit/pexels-iconcom-479444.jpg) #292929 no-repeat; background-attachment: fixed; background-size: cover; }
body.dirtyhit .alt-section-start { background: url(src/images/dirtyhit/dh-alt-bg-start.png) no-repeat top center !important; background-size: contain !important; }
body.dirtyhit .alt-section-end { background: url(src/images/dirtyhit/dh-alt-bg-end.png) no-repeat bottom center !important; background-size: contain !important; }
body.dirtyhit .alt-section img { border-radius: 1em; }
body.dirtyhit .animations img { border-radius: 1em; max-width: 400px; margin-top: 5em; margin: 5em auto 0; }
body.dirtyhit .animations figcaption { text-align: center; }
body.dirtyhit h2 { color: #f2f2f2; }
body.dirtyhit h3 { -webkit-text-stroke: 1px #f2f2f2; }
body.dirtyhit .sub-title { -webkit-text-stroke: 1px #f2f2f2; }
body.dirtyhit ul.contribute li { background-color: #f2f2f2; color: #292929; }
body.dirtyhit .gallery-col-2 img { filter: grayscale(100%); transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
body.dirtyhit .gallery-col-2 img:hover { filter: grayscale(0%); transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
@media (min-width: 800px) { body.dirtyhit .gallery-col-2 { margin: auto; } }
@media (max-width: 800px) { body.dirtyhit .grid [class*='col-']:last-of-type { margin-bottom: 10vh; margin-top: 20vh; } }
body.dirtyhit section .card a { -webkit-text-fill-color: unset; color: #292929 !important; }
body.dirtyhit .sub-title { -webkit-text-stroke: 1px #f2f2f2; }
@media (max-width: 800px) { body.dirtyhit .sub-title { color: #f2f2f2; -webkit-text-stroke: transparent; } }
@media (min-width: 800px) { body.dirtyhit .sub-title .col-2-text { padding: 5%; } }
body.dirtyhit section.browser-mockup-section .mockup { border: solid 10px rgba(255, 255, 255, 0.5); border-top-width: 45px; }
body.dirtyhit .alt-section { background: #f2f2f2 !important; }
body.dirtyhit .alt-section p, body.dirtyhit .alt-section ul li, body.dirtyhit .alt-section h4, body.dirtyhit .alt-section ul ::marker, body.dirtyhit .alt-section figcaption { color: #292929; }
body.dirtyhit .alt-section h3 { -webkit-text-stroke: 1px #292929; }
body.dirtyhit .alt-section a { color: #f2f2f2 !important; }
body.dirtyhit .alt-section .button { background: #f2f2f2; color: #292929 !important; }
body.dirtyhit #scroll-text { background: #151515; }

body.samsmith { background-color: #333; color: #f8f1e1; border: 5px solid #f8f1e1; background-image: url(src/images/sam/flowers-bg.jpg); background-repeat: no-repeat; background-position: top right; background-size: 350px; background-attachment: fixed; }
body.samsmith h2 { color: #f8f1e1; }
body.samsmith h3 { -webkit-text-stroke: 1px #f8f1e1; }
body.samsmith #scroll-text { background-color: #333; }
body.samsmith section.browser-mockup-section .mockup { border: solid 10px #1f1f1f; border-top-width: 45px; }
body.samsmith .card a { -webkit-text-fill-color: unset; }
@media (max-width: 800px) { body.samsmith { background-attachment: unset; background-size: 50%; } }

body.decca { background-color: #413958; color: #fff; border: 5px solid #fff; }
body.decca h2 { color: #fff; }
body.decca h3 { -webkit-text-stroke: 1px #fff; }
body.decca .sub-title { -webkit-text-stroke: 1px #fff; }
body.decca #scroll-text { background-color: #413958; }
body.decca section.browser-mockup-section .mockup { border: solid 10px rgba(255, 255, 255, 0.2); border-top-width: 45px; }
@media (max-width: 800px) { body.decca .sub-title { -webkit-text-stroke: transparent; color: #fff; } }
body.decca .card a { -webkit-text-fill-color: unset; }

body.islandrecords { background-color: #ffd405; background-image: url(src/images/island-records/palm.jpg); background-repeat: no-repeat; background-size: 50%; background-position: top right; border-top: 10px solid #ffbaf3; border-right: 10px solid #3a71b4; border-left: 10px solid #de2c2d; border-bottom: 10px solid #ffbaf3; color: #000; }
body.islandrecords h2 { color: #000; }
body.islandrecords .sub-title { -webkit-text-stroke: 1px #000; }
body.islandrecords a { position: inherit; color: #de2c2d; background: none; background-clip: unset; -webkit-background-clip: unset; -webkit-text-fill-color: unset; background-position: unset; transition: unset; text-decoration: none; }
body.islandrecords button { background-color: #3a71b4; }
body.islandrecords button a { color: #ffd405; }
@media (max-width: 800px) { body.islandrecords .sub-title { font-size: 2em; color: #000000; -webkit-text-stroke: unset; }
  body.islandrecords body.islandrecords .sub-title { -webkit-text-stroke: unset; }
  body.islandrecords section.intro { min-height: unset; } }

.about h3 { -webkit-text-stroke: 1px #cfff00; }

@media (max-width: 800px) { section.browser-mockup-section .mockup .scroll-container { overflow-y: scroll; height: 50vh; max-height: 250px; }
  section.browser-mockup-section .mockup-container { margin-bottom: 2em; }
  .ourplanet .sub-title { color: #fff; -webkit-text-stroke: unset !important; } }
.choi-lab section:first-of-type { padding-top: 0; }
.choi-lab .gallery-col-2 { margin: 2em 0; }
.choi-lab .labs { max-width: 500px; margin: auto; }
.choi-lab H4 { margin: 36px 0 24px; }

.center { text-align: center !important; }

body.douglas-squirrel { color: #333; background-color: #f2f2f2; background-image: url(src/images/lisa-squirrel/lisa-bg.jpg); background-size: contain; background-repeat: no-repeat; border: 5px solid #d15829; }
body.douglas-squirrel .grid { left: 50%; transform: translate(-50%); margin: 0 auto 24px auto; padding: 0; position: absolute; z-index: 400; width: 100%; max-width: none; }
body.douglas-squirrel .portfolio-page { background: #d15829; min-height: 800px; position: relative; padding-top: 5em; }
body.douglas-squirrel .portfolio-page .col-1-1 img { max-width: 1000px; }
body.douglas-squirrel .button { background: #d15829; border: 0; padding: 0.5em 2em; font-family: inherit; border-radius: 3em; margin: .5em 0; display: block; color: #f2f2f2; font-size: 1em; display: inline-block; }
@media (max-width: 800px) { body.douglas-squirrel { background-size: 200%; background-position: top right; } }
body.douglas-squirrel h2, body.douglas-squirrel h4 { color: #2764ac; }
body.douglas-squirrel h3 { -webkit-text-stroke: 1px #2764ac; }
body.douglas-squirrel ul ::marker { color: #2764ac; }
body.douglas-squirrel section a { -webkit-text-fill-color: unset; color: #d15829 !important; }
body.douglas-squirrel ul.contribute li { background-color: #d15829; color: #f2f2f2; }
body.douglas-squirrel .alt-section-start { background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg.jpg) #d15829 no-repeat top center !important; background-size: contain !important; }
body.douglas-squirrel .alt-section-end { background: url(src/images/lisa-squirrel/lisa-squirrel-alt-bg-end.jpg) #f2f2f2 no-repeat top center !important; background-size: contain !important; }
body.douglas-squirrel section.browser-mockup-section .mockup { border: solid 10px rgba(255, 255, 255, 0.5); border-top-width: 45px; }
body.douglas-squirrel #scroll-text { background: #2764ac; }
body.douglas-squirrel .douglas-alt-section { background: #d15829; }
body.douglas-squirrel .douglas-alt-section p, body.douglas-squirrel .douglas-alt-section ul li, body.douglas-squirrel .douglas-alt-section h4, body.douglas-squirrel .douglas-alt-section ul ::marker, body.douglas-squirrel .douglas-alt-section figcaption { color: #f2f2f2; }
body.douglas-squirrel .douglas-alt-section h3 { -webkit-text-stroke: 1px #f2f2f2; }
body.douglas-squirrel .douglas-alt-section a { color: #f7a235 !important; }
body.douglas-squirrel .douglas-alt-section .button { background: #da8a70; color: #f2f2f2 !important; }

header { font-family: "Millik"; background-color: #cfff00; padding: 0; position: fixed; display: block; width: 100%; min-height: 72px; box-sizing: border-box; z-index: 10; max-height: 100%; overflow-y: visible; background-color: transparent; background-repeat: no-repeat; background-position: center top -60px; background-size: 120px; color: #ffffff; margin-top: 0; top: 0; z-index: 9999; }
header ul li { margin: 0; line-height: 1.2; font-size: .8em; padding-left: 0; }
header .logo { padding: 6px; position: absolute; width: 10em; height: 10em; background-image: url(/src/images/global/choi-logo.png); background-color: transparent; background-size: 90%; background-repeat: no-repeat; background-position: center; top: 1em; right: -5em; transition: all .2s ease-in-out; }
header .logo:hover { background-image: url(/src/images/global/logo-menu.png); background-size: contain; transition: all .2s ease-in-out; background-color: transparent; }
header span.title { font-size: 20px; line-height: 24px; padding-left: 0; }
header label { font-size: 1.5em; }
header label span { display: inline-block; width: 14px; }
header input#nav-toggle { display: none; }
header input#nav-toggle:not(:checked) ~ nav { max-height: 0; border-top: none; padding-top: 0; margin-top: 0; }
header input#nav-toggle:checked ~ nav { min-height: 100vh; padding-top: 20vh; background: #0a0a0a; margin: 0 auto; width: 100%; height: 100vh; box-sizing: border-box; }
header a { font-size: 4em; line-height: 1.5; padding: 12px; text-decoration: none; padding: 0.5em 0; }
header nav { max-height: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; overflow: hidden; }
header nav a { text-align: center; color: #cfff00 !important; }

@media screen and (min-width: 800px) { .nav-group a:not(:first-child) { display: none; }
  input#nav-toggle:checked ~ nav { box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); } }
@media screen and (max-width: 1000px) { span.title { padding-left: 0; }
  nav { padding-right: 0; } }
@media (max-width: 600px) { header .logo { max-width: 10em; right: -4em; top: -1em; } }
@media (min-width: 1400px) { header .logo { width: 12em; height: 12em; right: -6em; } }
.rotate { animation: rotation 20s infinite linear; }

@keyframes rotation { from { transform: rotate(0deg); }
  to { transform: rotate(359deg); } }
footer { background-color: transparent; padding: 40px 24px; color: #ffffff; }
footer a { color: #ffffff; }
footer li { list-style: none; font-size: 2em; font-family: "Millik"; }

body.home { background-color: #cfff00; }

.home .sidetext { position: fixed; z-index: 9998; bottom: 15vh; width: 500px; /* after rotation this is the height */ margin-top: 250px; /* is 50% of width */ transform: rotate(270deg); transform-origin: 0% 0%; /* set to the upper-left corner */ -ms-transform: rotate(270deg); /* IE 9 */ -ms-transform-origin: 0% 0%; /* IE 9 */ -webkit-transform: rotate(270deg); /* Safari and Chrome */ -webkit-transform-origin: 0% 0%; /* Safari and Chrome */ }
.home .sidetext p { font-size: .75em; letter-spacing: 5px; color: #d0ff00; text-transform: uppercase; margin: 0.5em; }
.home .intro { position: relative; background-size: auto; background-position: center; height: 95vh; min-height: 600px; background-image: url(/src/images/home/pexels-zack-jarosz-1727658.jpg); background-size: cover; background-color: #000000; overflow: hidden; -webkit-animation: AnimationName 20s ease infinite; -moz-animation: AnimationName 20s ease infinite; animation: AnimationName 20s ease infinite; }
.home .intro .github { text-align: center; text-transform: uppercase; border: 1px dashed #cfff00; bottom: -3.5vh; position: absolute; min-width: 300px; left: 50%; border-radius: 1em; padding: .5em 1em 2em; transform: translateX(-50%); }
.home .intro .github p, .home .intro .github q { font-size: 0.8em; margin: 0.2em 0.5em; letter-spacing: 3px; }
@-webkit-keyframes AnimationName { 0% { background-position: 10% 70%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 10% 70%; } }
@-moz-keyframes AnimationName { 0% { background-position: 10% 70%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 10% 70%; } }
@keyframes AnimationName { 0% { background-position: 10% 70%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 10% 70%; } }
.home h2 { font-size: 10vw; }
@media (max-width: 800px) { .home .home-foot h2 { font-size: 10vh; } }
.home h1 { font-size: 30px; line-height: 36px; border-bottom: 3px solid #0a0a0a; padding: 0 0 24px 0; margin: 0 0 24px 0; }
.home .col { background-size: cover; min-height: 49vw; }
.home .rotatingText { margin: 0; line-height: 1.5; position: absolute; top: 12vh; right: 10%; width: 50%; max-width: 650px; margin: 15vh .5em; color: #cfff00; }
.home .rotatingText h3 { font-size: 15vw; line-height: 1; margin-top: 0; margin-bottom: 0; padding-right: 0; -webkit-text-stroke: 1px #cfff00; color: transparent; }
.home .rotatingText h4 { font-size: 2.2em; margin: 0; padding-left: 1em; text-shadow: 1px 1px 10px black; }
@media (max-width: 1000px) { .home .rotatingText { width: 80%; }
  .home .rotatingText h4 { font-size: 3.5vw; } }
@media (max-width: 800px) { .home .rotatingText h4 { width: 100%; font-size: 1.7em; }
  .home .rotatingText h3 { font-size: 120px; } }
.home .rotatingText-adjective { text-align: left; font-style: normal; left: 0; margin-bottom: 0; margin-top: 50px; padding-left: 1em; opacity: 0; position: absolute; right: 0; margin-top: 1.5em; }
.home .rotatingText-adjective { animation-name: rotate; animation-duration: 1.5s; }
.home .rotatingText-adjective:nth-of-type(1) { animation-delay: 1.5s; }
.home .rotatingText-adjective:nth-of-type(2) { animation-delay: 3.5s; }
.home .rotatingText-adjective:nth-of-type(3) { animation-delay: 5.5s; }
.home .rotatingText-adjective:nth-of-type(4) { animation-name: rotate-last; animation-duration: 1.5s; animation-delay: 7.5s; animation-fill-mode: forwards; }
@keyframes rotate { 0% { opacity: 0; transform: translate3d(0, 50px, 0); }
  20%,
        80% { opacity: 1; transform: translate3d(0, 0, 0); }
  100% { opacity: 0; transform: translate3d(0, -25px, 0); } }
@keyframes rotate-last { 0% { opacity: 0; transform: translate3d(0, 50px, 0); }
  50%,
        100% { opacity: 1; transform: translate3d(0, 0, 0); } }
.home section:first-of-type { padding: 0; }

.ourplanet { background-image: url(/src/images/home/ourplanet.jpg); }
.ourplanet #midground { background: url(/src/images/home/ourplanet-mid.png) repeat 20% 20%; }
.ourplanet #foreground { background: url(/src/images/home/ourplanet-small.png) repeat 35% 35%; }

.douglas { background: #D15727; }
.douglas #midground { background: url(/src/images/douglas-squirrel/leaves-A\ copy.png) repeat 20% 20%; }
.douglas #foreground { background: url(/src/images/douglas-squirrel/leaves-B.png) repeat 35% 35%; }

.snow { overflow: hidden; position: relative; background-size: cover; }
@-webkit-keyframes STAR-MOVE { from { left: 0; top: 0; }
  to { left: -10000px; bottom: -20000px; } }
.snow #midground { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 200; -webkit-animation-name: STAR-MOVE; -webkit-animation-duration: 150s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; }
.snow #foreground { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 300; -webkit-animation-name: STAR-MOVE; -webkit-animation-duration: 100s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; }
.snow .tile-logo { z-index: 400; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.container { background-size: contain; background-repeat: no-repeat; width: 100%; overflow: hidden; background-position: center; overflow: hidden; }
.container img { margin: auto !important; }

.home .recordstore { background-color: #45b152; }
.home .islandrecords { background-image: url(/src/images/home/island.jpg); overflow: hidden; }

.home-foot { background-color: #0a0a0a; color: #ffffff; padding: 5%; }
.home-foot h2 { color: #ffffff; }
.home-foot .project-list { background-color: #020202; }
.home-foot div { background-color: #0a0a0a; }

.lisa-home { background: url(/src/images/home/lisa-blur.jpg); }
.lisa-home img { transition: all 0.5s ease; }
.lisa-home img:hover { opacity: 0; transition: all 0.5s ease; }

.face { display: block; position: relative; margin: auto; left: 50%; transform: translate(-50%); width: 100%; text-align: center; height: 50vw; }

.eye { display: inline-block; border-radius: 50%; height: 5vw; width: 5vw; margin: 3.8vw 5vh; }

.eye:after { /*pupil*/ position: absolute; width: 1.5vw; height: 1.5vw; background: #17110ad9; border-radius: 50%; content: " "; border: 0.3em solid #654734bf; }

@media (min-width: 1400px) { .home .intro { background-size: 105%; } }
@media (max-width: 800px) { .vinyl { display: none; }
  .home .rotatingText { top: 12vh; margin: 20vh 0.5em; }
  .clients section ul { columns: 2; -webkit-columns: 2; }
  .home .intro { background-size: cover; background-position: top left -150px; overflow: hidden; -webkit-animation: unset; -moz-animation: unset; animation: unset; background-repeat: no-repeat; height: 100vh; }
  .home .intro .github { top: 95vh; } }
.hiphop { background-image: url(/src//images/home/hiphop.jpg); }

.ronnie { background-image: url(/src//images/home/ronnie.jpg); }

.stones { background-image: url(/src//images/home/stones.jpg); }

.rolling { background-image: url(/src//images/home/rollingstones.jpg); }

.mumford { background-image: url(/src//images/home/mumford.jpg); }

.billie { background-image: url(/src//images/home/billie.jpg); }

.weeknd { background-image: url(/src//images/home/theweeknd.jpg); }

.sportsteam { background-image: url(/src//images/home/sportsteam.jpg); }

.the1975 { background-image: url(/src//images/home/1975.jpg); }

.motown { background-image: url(/src//images/home/motown.jpg); }

.montypython { background-image: url(/src//images/home/montypython-1.jpg); }

.jrocknews { background-image: url(/src//images/home/jrocknews.jpg); }

.decorte { background-image: url(/src//images/home/decorte.jpg); }

.barbour { background-image: url(/src//images/home/barbour-wax-for-life.jpg); }

.jrock-merch-1 { background-image: url(/src//images/home/jrocknews-merch-1.jpg); }

.jrock-3 { background-image: url(/src//images/home/jrock-3.jpg); }

.jrock-4 { background-image: url(/src//images/home/jrock-4.jpg); }

.jrock-5 { background-image: url(/src//images/home/jrock-5.jpg); }

.choizilla { background-image: url(/src//images/home/choizilla.jpg); }

.choizilla-2 { background-image: url(/src//images/home/choizilla-2.jpg); }

.agile { background-image: url(/src//images/home/agile.jpg); }

.rollinghover { height: 100%; width: 100%; opacity: 0; transition: all .2s ease-in-out; }
.rollinghover:hover { opacity: 100; transition: all .2s ease-in-out; }

.soon { overflow: hidden; }

.marquee { position: absolute; overflow: hidden; --offset: 20vw; --move-initial: calc(-25% + var(--offset)); --move-final: calc(-50% + var(--offset)); background: #cfff00; color: #000000; -ms-transform-origin: 15px 0; -webkit-transform-origin: 15px 0; transform-origin: 15px 0; -ms-transform: rotate(-50deg); -webkit-transform: rotate(-50deg); transform: rotate(-50deg); left: 25%; bottom: -50%; }

.marquee__inner { width: fit-content; display: flex; position: relative; transform: translate3d(var(--move-initial), 0, 0); animation: marquee 5s linear infinite; animation-play-state: paused; }

.marquee span { font-size: 5vw; padding: 0 2vw; font-family: "Millik"; }
@media (max-width: 800px) { .marquee span { font-size: 2em; } }

.rollinghover:active .marquee__inner, .rollinghover:hover .marquee__inner { animation-play-state: running; }

@keyframes marquee { 0% { transform: translate3d(var(--move-initial), 0, 0); }
  100% { transform: translate3d(var(--move-final), 0, 0); } }
.folder-tile { text-align: center; margin: 5%; }
.folder-tile .col-1-1 { margin-top: 15vw; }
.folder-tile p { margin: 0.5em 0 1.5em 0; color: #000000; font-weight: 600; text-transform: uppercase; text-align: center; background: black; display: inline-block; padding: 0.2em 0.5em 0; }
.folder-tile a { color: #000000 !important; }
.folder-tile img { max-width: 150px; margin: auto; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.module { transform-origin: center center; }
.module.off-screen-top { transform: translateY(-150px); }
.module.off-screen-bottom { transform: translateY(150px); }

.come-in { transform: translateY(0); transition: transform 0.8s ease-out; }

.come-in:nth-child(odd) { transition-duration: 0.5s; }

.already-visible { transform: translateY(0); transition: none; }
