@charset "UTF-8";
/* It's Choi website 2021 theme  Designer: Choi <stmchoi@gmail.com>
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.grid { max-width: none; margin: 0 auto 24px auto; padding: 0; }
.grid.wide { max-width: 1200px; }
.grid:after { content: ""; display: table; clear: both; }
.grid:last-child { margin-bottom: 0; }

[class*='col-'] { margin: auto; box-sizing: border-box; }
.grid [class*='col-']:last-of-type { padding-right: 0; }

.home-grid { display: grid; grid-template-columns: repeat(2, 1fr); }

.col-nav { width: 100%; text-align: center; }

.nav-toggle { width: 100px; height: 100px; background: red; border-radius: 100px; }

.col-1-1 { width: 100%; }

.col-1-2 { width: 48%; }

.col-1-4 { width: 25%; }

.col-3-4 { width: 75%; }

.col-1-3 { width: 33.3%; margin: auto; }

.col-2-3 { width: 66.6%; }

.hide-desktop { display: none; }

@media screen and (max-width: 800px) { .home-grid { grid-template-columns: repeat(1, 1fr); }
  [class*='col-'] { width: 100%; padding-right: 0; }
  .grid [class*='col-']:last-of-type { margin-bottom: 0; }
  [class*='col-'] .col-1-3 { width: 50%; padding: 12px; }
  .hide-mobile { display: none; }
  .hide-desktop { display: block; } }
@media (min-width: 2000px) { .home-grid { grid-template-columns: repeat(3, 1fr); } }
@font-face { font-family: 'Ladybird-Light'; src: url("Trial-Ladybird-Light.woff") format("woff");
  /* IE9 Compat Modes */ }
body { font-family: "Josefin Sans", sans-serif; font-size: 16px; font-weight: 300; font-style: normal; line-height: 1.5; color: #ffffff; }
@media (max-width: 800px) { body { font-size: 14px !important; } }

strong { font-weight: 700; }

em { font-style: italic; }

h1 { font-family: 'Ladybird-Light'; font-size: 46px; line-height: 52px; text-align: center; margin-bottom: 36px; }

h2 { font-family: 'Ladybird-Light'; font-size: 5em; line-height: 1.2; color: #cfff00; margin: 12px 0; }
@media (max-width: 800px) { h2 { font-size: 3em; } }

a { color: #cfff00; position: relative; color: #cfff00; background: linear-gradient(to right, #000000, #000000 50%, #cfff00 50%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% 100%; background-position: 100%; transition: background-position 275ms ease; text-decoration: none; }
a:hover { background-position: 0 100%; }

h3 { font-family: 'Ladybird-Light'; font-size: 1.5em; line-height: 1.2; margin-top: 12px; margin-bottom: 24px; padding-right: .5em; }
h3.CTA { font-size: 30px; line-height: 1.5; text-align: center; }

H4 { font-size: 22px; line-height: 1.5; text-transform: uppercase; margin: 72px 0 12px; font-weight: 700; letter-spacing: 5px; }

p, q { font-size: 20px; margin: 1.5em 0; }

q { quotes: "“" "”"; }
q:before { content: open-quote; }
q:after { content: close-quote; }

ul { list-style: none; }
ul li { padding-left: 18px; margin: 24px 0; text-indent: -16px; }

footer ul { list-style: none; }
footer ul li { font-size: 19px; line-height: 22px; margin: 12px 0; }

small { font-size: .7em; line-height: 18px; display: block; color: #ffffff; margin: .5em 0; }

span.call-to-action, a.button, button, input[type=button] { font-size: 24px; line-height: 30px; }
span.call-to-action a, a.button a, button a, input[type=button] a { color: #07829c; text-decoration: none; }

.strike { text-decoration: line-through; padding: 0 .2em; font-size: 19px; }

body { background-color: #07829c; border: 5px solid #cfff00; }

img { width: 100%; display: block; }

.small-img { max-width: 100px; margin: auto !important; padding: 1em 1em 0; }

.med-img { max-width: 200px; padding: 1em; margin: 0 auto !important; }

.resource-img { max-width: 120px; margin: 0 auto !important; padding: 1em; }

.external-img { width: 10px; margin-bottom: auto; padding: 0 0 0.2em; display: inline; }

video { width: 100%; margin: 24px 0 !important; display: block; background: #ffffff; }

hr { border: none; background-color: #ffffff; height: 3px; width: 20%; margin: 80px 80% 0 0; float: left; }

div.card { background-color: #ffffff; padding: 24px; margin: 24px 0; box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); }
div.card h3 { margin-bottom: 12px; padding: 0; }

.projects section .col-1-1 { max-width: 1000px; margin: auto; }
.projects section ul { columns: 3; -webkit-columns: 3; -moz-columns: 3; margin: 2em 0; }
.projects section ul li { padding-left: 0; font-size: 15px; text-indent: 0; text-transform: uppercase; margin: 18px 0; }
.projects section ul li:first-of-type { margin-top: 0; }

section { padding: 40px 24px; }
section:first-of-type { padding-top: 136px; }
section.illustration { background-color: #07829c; background: linear-gradient(#07829c 88.6%, #ffffff 1%); background-size: 100% 100%; padding: 96px 0 0 0; }
section.illustration img { margin: 0 !important; }
section.feature { background: #cfff00 url("images/bottom-leaves.png") bottom center no-repeat; background-size: 800px; padding-bottom: 24px; }
section.prefooter { padding: 40px 24px !important; background-color: #07829c; color: #ffffff; text-align: center; }
section.prefooter a { color: #ffffff; }
section.prefooter a:hover { color: #e6e6e6; }
section.prefooter img { width: 30%; margin: 0 35% 24px 35% !important; }
section.copyright { padding: 12px; }
section.intro { background: url("images/generic-banner.png") center 96px no-repeat; background-size: 100%; }
section.intro nav { text-align: center; padding: 24px 0; }
section.intro nav a { font-size: 24px; line-height: 36px; color: #07829c; text-decoration: none; padding: 0 18px; white-space: nowrap; }
section.intro nav a:hover { color: #03313a; }
section.intro .card { background-color: #f0f0f0; }
section.intro .card img.thumb { padding: 0 24px; box-sizing: border-box; }
@media screen and (max-width: 800px) { section.intro .card img.thumb { max-width: 40%; margin: 0 auto 24px auto !important; } }
@media screen and (max-width: 800px) { section .card { text-align: center; } }
@media (min-width: 800px) { section .resource { display: flex; }
  section .double-btn { width: 50% !important; max-width: 180px !important; } }

button { background: #ceff02; border: 0; padding: 0.5em 2em; font-family: inherit; border-radius: 3em; margin: .5em 0; display: block; }

.accordion { border-bottom: 1px solid #a6a6a6; }
.accordion dt { position: relative; cursor: pointer; margin: 0; padding: 12px 12px; }
.accordion dt h3 { color: #07829c; margin: 0 0 6px; }
.accordion dt p { margin: 0; color: #555555; }
.accordion dt:after { content: '+'; width: 20px; height: 25px; position: absolute; top: 12px; right: 12px; color: #07829c; font-size: 32px; font-weight: bold; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; }
.accordion:not(.open) dt:hover { background-color: #f2f2f2; }
.accordion.open dt:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.accordion dd { margin: 0 12px; display: none; }
.accordion:first-child { border-top: 1px solid #a6a6a6; }

a.secondary-btn { margin: 1em auto !important; box-sizing: border-box; max-width: 200px; }
a.secondary-btn span { background-color: #cfff00; color: #07829c; box-shadow: inset 0 3px #07829c; }

.double-btn { display: inline-block !important; margin: 0 !important; max-width: none; width: 100%; }

.anchor { position: relative; }

.anchor a { position: absolute; left: 0px; top: -48px; }

.about img { max-width: 350px; margin: auto; }
.about h2 { text-align: center; }

@media screen and (min-width: 896px) { .anchor a { position: absolute; left: 0px; top: -66px; } }
.portfolio-page .contribute, .portfolio-page ul { display: inline-block; }
.portfolio-page .contribute li, .portfolio-page ul li { background-color: #066e84; padding: 0.4em 1em 0.4em; display: inline; border-radius: 1em; }

.decca section { padding: 40px 24px 0; }

.mockup ::-webkit-scrollbar { display: none; }

body { font-size: 16px; }

section.browser-mockup-section { padding: 2em 0; overflow: hidden; }
section.browser-mockup-section::before { content: ""; position: absolute; width: 150%; height: 58%; top: -20%; left: -25%; }
section.browser-mockup-section .mockup { border: solid 10px #e8e8e8; border-top-width: 45px; border-radius: 6px; box-shadow: 3px 12px 30px -8px rgba(0, 0, 0, 0.2); transition: all ease 0.4s; max-width: 1200px; width: 90%; margin: auto; }
section.browser-mockup-section .mockup .scroll-container { overflow-y: scroll; max-height: 75vh; }
section.browser-mockup-section .mockup ::-webkit-scrollbar { width: 0; }
section.browser-mockup-section .mockup img { width: 100%; height: auto; }
section.browser-mockup-section .browser-control { position: absolute; height: 10px; width: 10px; top: -27px; left: 30px; background: #000; background: #FEC031; border-radius: 50%; opacity: 0.12; opacity: 1; }
section.browser-mockup-section .browser-control::before { content: ""; position: absolute; height: 100%; width: 100%; left: -20px; background: #000; background: #FF6054; border-radius: 50%; }
section.browser-mockup-section .browser-control::after { content: ""; position: absolute; height: 100%; width: 100%; right: -20px; background: #000; background: #00CE4A; border-radius: 50%; }
section.browser-mockup-section .mockup:hover { transform: rotateX(-10deg) rotateY(0deg) rotateZ(0); }

.portfolio-page #scroll-text { top: 0; }

.home #scroll-text { top: 95vh; }

#scroll-text { position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 7777; color: #ffffff; padding: 10px 15px; background: #07829c; border-radius: 4em; padding-right: 3em; top: -45px; }

.scroll-icon { position: absolute; width: 30px; fill: #ffffff; border-radius: 100%; margin: -4px 1em 0 .5em; }

.scroll-animation { animation: scrollIcon ease 2s infinite; }

@keyframes scrollIcon { 0% { transform: translateY(0); opacity: 1; }
  49% { transform: translateY(-10px); opacity: 0; }
  51% { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; } }
.scroll-animation { animation: scrollIcon linear 1.7s infinite; }

@keyframes scrollIcon { 0% { transform: translateY(15px); opacity: 0; }
  50% { transform: translateY(7.5px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0; } }
.video { text-align: center; }

header { font-family: 'Ladybird-Light'; background-color: #cfff00; padding: 0; position: fixed; display: block; width: 100%; min-height: 72px; box-sizing: border-box; z-index: 10; max-height: 100%; overflow-y: visible; background-color: transparent; background-repeat: no-repeat; background-position: center top -60px; background-size: 120px; color: #ffffff; margin-top: 0; top: 0; z-index: 9999; }
header ul li { margin: 0; line-height: 1.2; }
header .logo { padding: 6px; position: absolute; width: 10em; height: 10em; background-image: url(/images/choi-logo.png); background-color: transparent; background-size: 90%; background-repeat: no-repeat; background-position: center; top: 1em; right: -5em; transition: all .2s ease-in-out; }
header .logo:hover { background-image: url(/images/logo-menu.png); background-size: contain; transition: all .2s ease-in-out; }
header span.title { font-size: 20px; line-height: 24px; padding-left: 0; }
header label { font-size: 1.5em; }
header label span { display: inline-block; width: 14px; }
header input#nav-toggle { display: none; }
header input#nav-toggle:not(:checked) ~ nav { max-height: 0; border-top: none; padding-top: 0; margin-top: 0; }
header input#nav-toggle:checked ~ nav { min-height: 100vh; padding-top: 10vh; background: #07829c; margin: 0 auto; width: 100%; height: 100vh; }
header a { font-size: 4em; line-height: 1.5; padding: 12px; text-decoration: none; padding: 0.5em 48px; }
header nav { max-height: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; overflow: hidden; }
header nav a { text-align: center; }

@media screen and (min-width: 800px) { .nav-group a:not(:first-child) { display: none; }
  input#nav-toggle:checked ~ nav { box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05); } }
@media screen and (max-width: 1000px) { span.title { padding-left: 0; }
  nav { padding-right: 0; } }
@media (max-width: 600px) { header .logo { max-width: 8em; right: -4em; top: -1em; }
  .intro { background-size: auto !important; height: 80vh; background-position: center; } }
@media (min-width: 1400px) { header .logo { width: 12em; height: 12em; right: -6em; } }
.rotate { animation: rotation 20s infinite linear; }

@keyframes rotation { from { transform: rotate(0deg); }
  to { transform: rotate(359deg); } }
footer { background-color: transparent; padding: 40px 24px; color: #ffffff; }
footer a { color: #ffffff; }
footer li { list-style: none; font-size: 2em; font-family: 'Ladybird-Light'; }

body.home { background-color: #cfff00; }

.home .sidetext { position: fixed; z-index: 9998; bottom: 25vh; width: 500px; /* after rotation this is the height */ margin-top: 250px; /* is 50% of width */ transform: rotate(270deg); transform-origin: 0% 0%; /* set to the upper-left corner */ -ms-transform: rotate(270deg); /* IE 9 */ -ms-transform-origin: 0% 0%; /* IE 9 */ -webkit-transform: rotate(270deg); /* Safari and Chrome */ -webkit-transform-origin: 0% 0%; /* Safari and Chrome */ }
.home .sidetext p { font-size: .75em; letter-spacing: 5px; color: #d0ff00; text-transform: uppercase; margin: 0.5em; }
.home .intro { background-size: auto; background-position: center; height: 95vh; background-image: url(/images/home/pexels-saph-photography-2929887copy.jpg); background-size: cover; background-color: #07829c; overflow: hidden; -webkit-animation: AnimationName 20s ease infinite; -moz-animation: AnimationName 20s ease infinite; animation: AnimationName 20s ease infinite; }
@-webkit-keyframes AnimationName { 0% { background-position: 92% 100%; }
  50% { background-position: 9% 0%; }
  100% { background-position: 92% 100%; } }
@-moz-keyframes AnimationName { 0% { background-position: 92% 100%; }
  50% { background-position: 9% 0%; }
  100% { background-position: 92% 100%; } }
@keyframes AnimationName { 0% { background-position: 92% 100%; }
  50% { background-position: 9% 0%; }
  100% { background-position: 92% 100%; } }
.home .intro .vinyl { width: 90%; margin: 10vh auto; max-width: 1300px; margin-top: 20vw; }
.home .intro h2 { text-shadow: 1px 1px 10px #918492; }
.home h1 { font-size: 30px; line-height: 36px; border-bottom: 3px solid #07829c; padding: 0 0 24px 0; margin: 0 0 24px 0; }
.home .col { background-size: cover; }
.home .rotatingText { margin: 0; font-family: 'Ladybird-Light'; line-height: 1.5; position: absolute; top: 12vh; left: 50%; transform: translate(-50%); width: 90%; max-width: 1000px; margin: 10vh .5em; }
@media (max-width: 1000px) { .home .rotatingText { width: 80%; } }
@media (min-width: 1400px) { .home .rotatingText { width: 90%; max-width: 1400px; margin: 5vh 5vw; text-align: left; font-size: 6.5em; } }
.home .rotatingText-adjective { font-family: 'Ladybird-Light'; text-align: left; font-style: normal; left: 0; margin-bottom: 0; margin-top: 50px; opacity: 0; position: absolute; right: 0; margin-top: 1.5em; }
.home .rotatingText-adjective { animation-name: rotate; animation-duration: 1.5s; }
.home .rotatingText-adjective:nth-of-type(1) { animation-delay: 0.5s; }
.home .rotatingText-adjective:nth-of-type(2) { animation-delay: 2s; }
.home .rotatingText-adjective:nth-of-type(3) { animation-delay: 3.5s; }
.home .rotatingText-adjective:nth-of-type(4) { animation-delay: 5s; }
.home .rotatingText-adjective:nth-of-type(5) { animation-name: rotate-last; animation-duration: 1.5s; animation-delay: 6.5s; animation-fill-mode: forwards; }
@keyframes rotate { 0% { opacity: 0; transform: translate3d(0, 50px, 0); }
  20%,
        80% { opacity: 1; transform: translate3d(0, 0, 0); }
  100% { opacity: 0; transform: translate3d(0, -25px, 0); } }
@keyframes rotate-last { 0% { opacity: 0; transform: translate3d(0, 50px, 0); }
  50%,
        100% { opacity: 1; transform: translate3d(0, 0, 0); } }
.home section:first-of-type { padding: 0; }

.blueplanet { background-image: url(/images/home/ourplanet.jpg); background-size: cover; overflow: hidden; position: relative; }
@-webkit-keyframes STAR-MOVE { from { left: 0; top: 0; }
  to { left: -10000px; bottom: -20000px; } }
.blueplanet #midground { background: url(/images/home/midground.png) repeat 20% 20%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 200; -webkit-animation-name: STAR-MOVE; -webkit-animation-duration: 150s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; }
.blueplanet #foreground { background: url(/images/home/smalls.png) repeat 35% 35%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 300; -webkit-animation-name: STAR-MOVE; -webkit-animation-duration: 100s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; }
.blueplanet .tile-logo { z-index: 400; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.container { background-size: contain; background-repeat: no-repeat; width: 100%; overflow: hidden; background-position: center; overflow: hidden; }
.container img { margin: auto !important; }

.samsmith { background-image: url(/images/sam/sam1.jpg); }

.islandrecords { background-image: url(/images/home/island/island1.jpg); overflow: hidden; }

.home-foot { background-color: #07829c; color: #ffffff; padding: 5%; }
.home-foot h2 { color: #ffffff; }
.home-foot .project-list { background-color: #06768d; }
.home-foot div { background-color: #07829c; }

.python { background-image: url(/images/home/Artboard\ 3c.jpg); background-size: cover; }

.move-area { /*normally use body*/ }

.\.face { padding: 0.75vw 25%; display: block; position: relative; margin: auto; left: 50%; transform: translate(-50%); }

.eye { display: inline-block; border-radius: 50%; height: 6vw; width: 6vw; margin: 2.7vw; }

.eye:after { /*pupil*/ position: absolute; bottom: 5px; right: 15px; width: 1.5vw; height: 1.5vw; background: #17110ad9; border-radius: 50%; content: " "; border: 0.3em solid #654734bf; }

@media (min-width: 1400px) { .home .intro { background-size: 105%; } }
@media (max-width: 800px) { .vinyl { display: none; }
  .intro { -webkit-animation: AnimationName 120s ease infinite !important; -moz-animation: AnimationName 120s ease infinite !important; animation: AnimationName 120s ease infinite !important; background-size: cover; } }
